{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                        <div class="form-group">
                            <div class="input-group">
                                <label for="username">ID</label>
                                <input required id="username" name="_username" type="text" placeholder="" autocomplete="off" class="form-control">
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group bloc-password mt-3">
                            <div class="input-group">
                                <label for="password">Mot de passe</label>
                                <input required id="password" name="_password" type="password" placeholder="" class="form-control">
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group login-submit">
                            <button type="submit" id="submit-button" class="button primary">Connexion</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $( document ).ready(function() {
            $('form').validator();
        });
    </script>

{% endblock %}
