nav{
    min-height: 60px;
}

#head-home{
    height: calc(100vh - 60px);
    padding: 0;
}

.owl-carousel, .owl-stage-outer, .owl-stage, .owl-item, .item{
    height: 100%;
}

.owl-carousel .owl-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section{
    padding: 50px 0;
}

footer{
    color: #ffffff;
    background-color: #2196f3;
}