{% extends 'base.html.twig' %}

{% block title %}Admin DashBoard{% endblock %}

{% block body %}

<main>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Admin</h1>
            </div>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-5">Projects</h2>
                    <div class="row">
                        <div class="col-12">
                            <a href="{{ path('project_update', {'projectID': 'new' }) }}" class="btn btn-primary mb-5">Ajouter</a>
                        </div>
                    </div>
                    <div class="row">
                        {% for project in projects %}
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="{{ project.img }}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ project.title }}</h5>
                                        <p class="card-text">{{ project.description }}</p>
                                        <a href="{{ path('project_update', {'projectID': project.id }) }}" class="btn btn-primary">Editer</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-5">Graphiques</h2>
                    <div class="row">
                        <div class="col-12">
                            <a href="{{ path('chart_update', {'chartID': 'new' }) }}" class="btn btn-primary mb-5">Ajouter</a>
                        </div>
                    </div>
                    <div class="row">
                        {% for chart in charts %}
                            <div class="col-4">
                                <canvas id="chart-{{ chart.id }}" width="400" height="400"></canvas>
                                <a href="{{ path('chart_update', {'chartID': chart.id }) }}" class="btn btn-primary">Editer</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-5">Liens</h2>
                    <div class="row">
                        <div class="col-12">
                            <a href="{{ path('link_update', {'linkID': 'new' }) }}" class="btn btn-primary mb-5">Ajouter</a>
                        </div>
                    </div>
                    <div class="row">
                        {% for link in links %}
                            <div class="col-12">
                                <h3><a href="{{ link.url }}">{{ link.title }} </a> <a class="btn btn-primary" href="{{ path('link_update', {'linkID': link.id }) }}"><span>Editer</span></a></h3>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var randomScalingFactor = function() {
            return Math.round(Math.random() * 255);
        };

        {% for chart in charts %}

        var ctx{{ chart.id }} = document.getElementById('chart-{{ chart.id }}').getContext('2d');

        let data{{ chart.id }} = {{ chart.chartsDataFormatted|raw }};
        let bgColors{{ chart.id }} = [];

        for ( d in data{{ chart.id }} ) {
            let r = randomScalingFactor();
            let g = randomScalingFactor();
            let b = randomScalingFactor();

            bgColors{{ chart.id }}.push(`rgba(${r}, ${g}, ${b}, 1)`);
        }

        var Chart{{ chart.id }} = new Chart(ctx{{ chart.id }}, {
            type: '{{ chart.type }}',
            data: {
                labels: {{ chart.chartsTitleFormatted|raw }},
                datasets: [{
                    label: '{{ chart.title }}',
                    data: data{{ chart.id }},
                    backgroundColor: bgColors{{ chart.id }},
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    text: '{{ chart.title }}'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        {% endfor %}
    </script>
{% endblock %}


