{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin') }}">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section id="head-home">
        <div class="owl-carousel owl-theme">
            <div class="item"><img src="/img/christian-joudrey-9bdt03k4ujw-unsplash.jpg" alt=""></div>
            <div class="item"><img src="/img/sebastian-pichler-0Ebrm0d-G_E-unsplash.jpg" alt=""></div>
            <div class="item"><img src="/img/christopher-gower-m_HRfLhgABo-unsplash.jpg" alt=""></div>
        </div>
    </section>

    <main>
        <section id="presentation">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="mb-4">Presentation</h2>
                        <p>Bonjour je m'appelle Robin LY UONG. Je suis étudiant en Mastere Expert Développement Web à Ynov Lyon.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eleifend lobortis purus, et pharetra nunc lobortis in. Vivamus ultrices dignissim faucibus. Maecenas sodales nibh at consequat iaculis. Fusce at massa ornare, vehicula mi finibus, condimentum dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="skills">
            <div class="container">
                <div class="col-12 text-center">
                    <h2 class="mb-4">Graphiques</h2>
                    <p>Simple yet flexible JavaScript charting for designers & developers</p>
                </div>
                <div class="row">
                    {% for chart in charts %}
                        <div class="col-4">
                            <canvas id="chart-{{ chart.id }}" width="400" height="400"></canvas>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section id="projects">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="mb-4">Projets</h2>
                    </div>
                </div>
                <div class="row">
                    {% for project in projects %}
                        <div class="col-md-4">
                            <div class="card">
                                <img src="{{ project.img }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ project.title }}</h5>
                                    <p class="card-text">{{ project.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

    <footer class="page-footer font-small blue pt-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase">Coordonnés</h5>
                    <p>robin.lyuong@ynov.com</p>
                    <p>0612345678</p>
                    <p></p>
                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                {% if links %}
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Liens</h5>

                        <ul class="list-unstyled">
                            {% for link in links %}
                                <li>
                                    <a class="text-white" href="{{ link.url }}">{{ link.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}



            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright Robin
        </div>
        <!-- Copyright -->

    </footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.owl-carousel').owlCarousel({
            loop:true,
            autoplay: true,
            items:1,
            dots: false
        });

        var randomScalingFactor = function() {
            return Math.round(Math.random() * 255);
        };

        {% for chart in charts %}

        var ctx{{ chart.id }} = document.getElementById('chart-{{ chart.id }}').getContext('2d');

        let data{{ chart.id }} = {{ chart.chartsDataFormatted|raw }};
        let bgColors{{ chart.id }} = [];

        for ( d in data{{ chart.id }} ) {
            let r = randomScalingFactor();
            let g = randomScalingFactor();
            let b = randomScalingFactor();

            bgColors{{ chart.id }}.push(`rgba(${r}, ${g}, ${b}, 1)`);
        }

        var Chart{{ chart.id }} = new Chart(ctx{{ chart.id }}, {
            type: '{{ chart.type }}',
            data: {
                labels: {{ chart.chartsTitleFormatted|raw }},
                datasets: [{
                    label: '{{ chart.title }}',
                    data: data{{ chart.id }},
                    backgroundColor: bgColors{{ chart.id }},
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    text: '{{ chart.title }}'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        {% endfor %}

    </script>
{% endblock %}


