{% extends 'base.html.twig' %}

{% block title %}Lien{% endblock %}

{% block body %}

    <main>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>{{ typeForm }} un Lien</h1>
                    <a class="btn btn-success" href="/admin">Retour</a>
                </div>
            </div>
        </div>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        {% if typeForm == "Modifier" %}
                            {{ form_start(form, { 'action': path('link_update', {'linkID': link.id }) }) }}
                        {% else %}
                            {{ form_start(form, { 'action': path('link_update', {'linkID': 'new' }) }) }}
                        {% endif %}
                        <div class="form-group">
                            {{ form_label(form.title) }}
                            {{ form_widget(form.title) }}
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.url) }}
                            {{ form_widget(form.url) }}
                            <div class="help-block with-errors"></div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


