{% extends 'base.html.twig' %}

{% block title %}Graphique{% endblock %}

{% block body %}

    <main>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>{{ typeForm }} graphique</h1>
                    <a class="btn btn-success" href="/admin">Retour</a>
                </div>
            </div>
        </div>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        {% if typeForm == "Modifier" %}
                            {{ form_start(form, { 'action': path('chart_update', {'chartID': chart.id }) }) }}
                        {% else %}
                            {{ form_start(form, { 'action': path('chart_update', {'chartID': 'new' }) }) }}
                        {% endif %}
                        <div class="form-group">
                            {{ form_label(form.title) }}
                            {{ form_widget(form.title) }}
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.type) }}
                            {{ form_widget(form.type) }}
                            <div class="help-block with-errors"></div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>

                {% if typeForm == 'Ajouter' %}
                    <div class="row">
                        <div class="col-12 mt-5">
                            <p>Vous pourrez ajouter des données une fois le graphique créé.</p>
                        </div>
                    </div>
                {% endif %}

            </div>
        </section>

        {% if typeForm == "Modifier" %}
            <section>
                <div class="container">
                    <h2>Ajouter une donnée au graphique</h2>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_start(formChartData, { 'action': path('chart_add_data', {chartID: chart.id }) }) }}

                            <div class="form-group">
                                {{ form_label(formChartData.title, 'Titre') }}
                                {{ form_widget(formChartData.title) }}
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group">
                                {{ form_label(formChartData.data, 'Valeur') }}
                                {{ form_widget(formChartData.data) }}
                                <div class="help-block with-errors"></div>
                            </div>

                            {{ form_end(formChartData) }}

                        </div>
                    </div>
                </div>
            </section>

            {% if chartsData|length > 0 %}
                <section>
                    <div class="container">
                        <h2>Liste des données</h2>
                        <div class="row">
                            <div class="col-12">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Titre</th>
                                        <th scope="col">Valeur</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for data in chartsData %}
                                        <form id="chart-data-{{ data.id }}" action="{{ path('chart_update_data', {chartID: chart.id, dataID: data.id }) }}" method="post">
                                            <tr>
                                                <td><input type="text" name="title" value="{{ data.title }}"></td>
                                                <td><input type="text" name="value" value="{{ data.data }}"></td>
                                                <td>
                                                    <input class="btn btn-primary" type="submit" form="chart-data-{{ data.id }}" value="Enregistrer">
                                                    <a class="btn btn-danger" href="{{ path('chart_delete_data', {chartID: chart.id, dataID: data.id }) }}">Supprimer</a>
                                                </td>
                                            </tr>
                                        </form>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            {% endif %}

        {% endif %}

    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


